<div class="row" id="login-row">
  <div class="col-md-12">
    <div id="login">
      <h2 class="text-center">Login</h2>
      <hr id="login-hr">
    <form id="login-form">
      <fieldset class="form-group">
        <label for="formGroupExampleInput">Username:</label>
        <input type="text" class="form-control"  placeholder="Username" ng-model="loginName">
      </fieldset>
      <fieldset class="form-group">
        <label for="formGroupExampleInput2">Password:</label>
        <input type="password" class="form-control"  placeholder="Password" ng-model="loginPassword">
      </fieldset>
      <button class="btn" ng-click="login()">Login</button>
      <a href="#register"><button class="btn pull-right">Register</button></a>
    </form>
  </div>
  </div>
</div>
