<div class="row">
  <div class="col col-md-12">
    <h2 class="text-center">Tell us what you want!</h2>
    <div class="col-md-1"></div>
    <div class="col-md-4 text-center package-box">
      <h3>Individual Package</h3>
      <h4>For those who drink alone</h4>
      <img src="images/solo-drinker.jpg">
      <div class="option-values">
        <div class="values-left">
          <h4>Cups</h4>
          <h4>Price per cup:</h4>
          <h4>Total:</h4>
          <h4>Grind-type:</h4>
        </div>
        <div class="values-right">
          <h4>14</h4>
          <h4>$0.50</h4>
          <h4>$7.00</h4>
          <div class="option-dropdown">
            <select ng-model="grindType">
              <option ng-repeat="grind in grinds"  value="{{grind}}">{{grind}}</option>

            </select>
          </div>
          <button type="button" name="button" class="btn" ng-click="makeOrder(14, 0.35)">Order</button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 text-center package-box">
      <h3>Family Package</h3>
      <h4>For those who drink together</h4>
      <img src="images/coffee-drinkers.jpg">
      <div class="option-values text-center">
        <div class="values-left">
          <h4>Cups</h4>
          <h4>Price per cup:</h4>
          <h4>Total:</h4>
          <h4>Grind-type:</h4>
        </div>
        <div class="values-right">
          <h4>40</h4>
          <h4>$0.45</h4>
          <h4>$18.00</h4>
          <div class="option-dropdown">
            <select ng-model="grindType2">
              <option ng-repeat="grind in grinds" value="{{grind}}">{{grind}}</option>
            </select>
          </div>
          <button type="button" name="button" class="btn" ng-click="makeOrder(40, 0.9)">Order</button>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
